[animate-hover="roll"] {
  position: relative;
  overflow: hidden;
}

[animate-hover="roll"] > * {
  position: relative;
  display: block;
  transition: all var(--duration-short) var(--ease-out);
}

[animate-hover="roll"]:after {
  content: attr(target);
  position: absolute;
  top: 100%;
  left: auto;
  right: auto;

  transition: all var(--duration-short) var(--ease-out);
}

[animate-hover="roll"]:hover > *,
[animate-hover="roll"]:hover:after {
  transform: translateY(-100%);
  transition: all var(--duration-short) var(--ease-out);
}
