@import "./styles/typography.css";

@import "./styles/animation.css";
@import "./styles/fluid-type.css";
@import "./styles/accessibility.css";
@import "./styles/utils.css";

@import "./styles/main.css";

@import "tailwindcss";

@import "./styles/grid.css";

@theme {
  --font-sans: soh, sans-serif;

  --spacing: .1rem;

  --text-base-0: var(--text-base);
  --text-base-1: 1.2;
  --text-base-length: 2;

  --text-xs-0: var(--text-xs);
  --text-xs-1: 1.2;
  --text-xs-length: 2;

  --text-sm-0: var(--text-sm);
  --text-sm-1: 1.2;
  --text-sm-length: 2;

  --text-md-0: var(--text-md);
  --text-md-1: 1.2;
  --text-md-length: 2;

  --text-lg-0: var(--text-lg);
  --text-lg-1: 1;
  --text-lg-length: 2;

  --text-xl-0: var(--text-xl);
  --text-xl-1: 1;
  --text-xl-length: 2;

  --text-xxl-0: var(--text-xxl);
  --text-xxl-1: 0.9;
  --text-xxl-length: 2;

  --spacing-sm: var(--sm);
  --spacing-md: var(--md);
  --spacing-lg: var(--lg);
  --spacing-xl: var(--xl);
  --spacing-xxl: var(--xxl);

  --aspect-5\/7: 5/7;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

[data-selectable] {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

/* make images not draggable */
img {
  user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
}

/* basic fluid type */
html {
  --fluid-width: 1920;
  font-size: clamp(12px, calc(((22 / var(--fluid-width)) * 100) * 1vw), 16px);
}

/* main styles */
body {
  @apply font-sans text-base text-white bg-black;
}

main {
  min-height: 100svh;
}

/* utilities */
@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contain {
    @apply mx-auto;
    max-width: var(--max-w);
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;
}

#app {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}
