[data-dropdown="wrapper"] {
  --duration: 0.4s;
  --ease: ease-out;
  --offset: 500%;
}

[data-dropdown="wrapper"] input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

[data-dropdown="content"] {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--duration) var(--ease);
}

[data-dropdown="content"] > div {
  overflow: hidden;
}

/* functionality */
[data-dropdown="wrapper"]:has(input:checked) [data-dropdown="content"] {
  grid-template-rows: 1fr;
}

/* animation */
[data-dropdown="wrapper"] [data-dropdown="icon"] {
  div {
    transition: transform var(--duration) var(--ease);
  }

  div:nth-child(1) {
    transform: translateY(var(--offset));
  }

  div:nth-child(3) {
    transform: translateY(calc(var(--offset) * -1));
  }
}

[data-dropdown="wrapper"]:has(input:checked) [data-dropdown="icon"] {
  div:nth-child(1) {
    transform: translateY(0%) rotate(45deg);
  }

  div:nth-child(2) {
    transform: scaleX(0);
  }

  div:nth-child(3) {
    transform: translateY(0%) rotate(-45deg);
  }
}
