.accordion {
	--duration: 0.795s;
	--ease: cubic-bezier(0.4, 0, 0.2, 1);

	& summary::marker {
		color: transparent;
		font-size: 0rem;
		display: none;
	}

	& summary {
		position: relative;
		cursor: pointer;
	}

	&::details-content {
		content-visibility: visible;
	}

	&[open] {
		& [data-accordion="panel"] {
			grid-template-rows: 1fr;
			transition:
				grid-template-rows var(--duration) var(--ease),
				content-visibility var(--duration) var(--ease);
		}

		& button {
			background: var(--color-neutral-100);
		}

		& [data-accordion="icon"] {
			transform: rotate(180deg);
			color: var(--color-neutral-0);
		}
	}

	& [data-accordion="panel"] {
		display: grid;
		transition:
			grid-template-rows var(--duration) var(--ease),
			content-visibility var(--duration) var(--ease);
		grid-template-rows: 0fr;
	}

	& [data-accordion="icon"] {
		/* position: absolute;
		right: 1rem;
		top: 1.5rem;
		color: var(--color-neutral-100); */
		transition:
			colors var(--duration) var(--ease),
			transform calc(var(--duration) / 2) var(--ease);

		@media screen and (max-width: 1023px) {
			top: 0.3rem;
		}
	}

	& [data-accordion="content"] {
		overflow: hidden;
	}
}
