@import "./variables.css";
@import "./typography.css";

@import "tailwindcss";
@import "./animation.css";
@import "./accessibility.css";
@import "./utils.css";
@import "./main.css";
@import "./tailwind.css";
@import "./grid.css";

* {
	box-sizing: border-box;
}

html,
body {
	overscroll-behavior: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

[data-selectable] {
	user-select: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
}

/* make images not draggable */
img {
	user-drag: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
}

/* basic fluid type */
html {
	--fluid-width: 1920;
	font-size: clamp(12px, calc(((22 / var(--fluid-width)) * 100) * 1vw), 16px);
}

/* main styles */
body {
	@apply font-sans text-base text-white bg-black;
}

main {
	min-height: 100svh;
}

html,
body {
	height: 100%;
	overflow: hidden;
	overscroll-behavior-y: none;
}

#app {
	height: 100%;
	overflow-y: auto;
	overscroll-behavior-y: none;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: clip;
}
