@font-face {
  font-family: "soh";
  src: url("/fonts/Sohne-Buch-webh.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "soh";
  src: url("/fonts/Sohne-Halbfett-webh.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
