@import "tailwindcss" source(none);
@import "@local/tailwind";
@import "@local/tailwind/animation.css";
@import "@local/tailwind/accessibility.css";
@import "@local/tailwind/utils.css";

@source "../app/**/*.{js,ts,jsx,tsx}";
@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../animation/**/*.{js,ts,jsx,tsx}";
@source "../lib/**/*.{js,ts,jsx,tsx}";
@source "../../../packages/*/src/**/*.{js,ts,jsx,tsx}";

@theme {
  --font-*: initial;
  --font-sans: soh, sans-serif;

  --text-base-0: var(--text-base);
  --text-base-1: 1.2;
  --text-base-length: 2;

  --text-xs-0: var(--text-xs);
  --text-xs-1: 1.2;
  --text-xs-length: 2;

  --text-sm-0: var(--text-sm);
  --text-sm-1: 1.2;
  --text-sm-length: 2;

  --text-md-0: var(--text-md);
  --text-md-1: 1.2;
  --text-md-length: 2;

  --text-lg-0: var(--text-lg);
  --text-lg-1: 1;
  --text-lg-length: 2;

  --text-xl-0: var(--text-xl);
  --text-xl-1: 1;
  --text-xl-length: 2;

  --text-xxl-0: var(--text-xxl);
  --text-xxl-1: 0.9;
  --text-xxl-length: 2;

  --spacing-gx: var(--gx);
  --spacing-gy: var(--gy);
  --spacing-sm: var(--sm);
  --spacing-md: var(--md);
  --spacing-lg: var(--lg);
  --spacing-xl: var(--xl);
  --spacing-xxl: var(--xxl);
  --spacing-navh: var(--navh);
  --spacing-gutter: var(--gutter);

  --aspect-5\/7: 5/7;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

body {
  @apply bg-black font-sans text-base text-white;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

[data-selectable] {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
}

main {
  min-height: 100svh;
}

#app {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

[data-dropdown="wrapper"] {
  --duration: 0.4s;
  --ease: var(--expo-out);
  --offset: 500%;
}

[data-dropdown="wrapper"] input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

[data-dropdown="content"] {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--duration) var(--ease);
}

[data-dropdown="content"] > div {
  overflow: hidden;
}

[data-dropdown="wrapper"]:has(input:checked) [data-dropdown="content"] {
  grid-template-rows: 1fr;
}

[data-dropdown="wrapper"] [data-dropdown="icon"] div {
  transition: transform var(--duration) var(--ease);
}

[data-dropdown="wrapper"] [data-dropdown="icon"] div:nth-child(1) {
  transform: translateY(var(--offset));
}

[data-dropdown="wrapper"] [data-dropdown="icon"] div:nth-child(3) {
  transform: translateY(calc(var(--offset) * -1));
}

[data-dropdown="wrapper"]:has(input:checked)
  [data-dropdown="icon"]
  div:nth-child(1) {
  transform: translateY(0%) rotate(45deg);
}

[data-dropdown="wrapper"]:has(input:checked)
  [data-dropdown="icon"]
  div:nth-child(2) {
  transform: scaleX(0);
}

[data-dropdown="wrapper"]:has(input:checked)
  [data-dropdown="icon"]
  div:nth-child(3) {
  transform: translateY(0%) rotate(-45deg);
}

[data-split] > * > div {
  line-height: 1;
  padding-bottom: 0.1em;
}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contain {
    @apply mx-auto;
    max-width: var(--max-w);
  }
}
